@{
    ViewData["Title"] = "Create Dentist";
}

<h1 class="create-dentist">Create Dentist</h1>
    <form class="create-dentist-form" method="post">
        <div class="form-field">
            <input type="text" name="name" placeholder="Name" required />
        </div>

        <div class="form-field">
            <input type="text" name="qualification" placeholder="Qualification" required />
        </div>

        <div class="form-field">
            <input type="text" name="moreInfo" placeholder="More Info" required />
        </div>
        <div class="form-field">
            <button class="btn" type="submit">Save</button>
        </div>
    </form>
