@model  IEnumerable<DentalServiceViewModel>
@{
    ViewData["Title"] = "Dental Services";
}
<div class="dental-services-logo">
    <img class="home-img" src=".../img/Home.png" />
</div>

<h1 class="dental-service-h1">Dental Service</h1>

@{
    foreach (var dentalService in Model)
    {
        <details class="dental-dervice-details">
            <summary class="dental-dervice-summary">@dentalService.ServiceName</summary>
            @dentalService.ServiceDescription
        </details>
    }
}

