@model IEnumerable<ReceptionViewModel>
@{
    ViewData["Title"] = "Reception";
}
<h1 class="text-center">Reception</h1>
<form class="reception-form" method="post">
    <div class="reception-field">
        <input type="date" name="DateSearch" >
    </div>
    <div>
        <button class="usr-btn" type="submit">Search</button>
    </div>
</form>
@{
    if (Model != null)
    {

        HashSet<string> doctors = Model.Select(ds => ds.DoctorName).ToHashSet<string>();
        string[,] matrix = new string[20, doctors.Count() + 1];
        matrix[0, 0] = "";
        for (int col = 1; col < doctors.Count()+1; col++)
        {
            matrix[0, col] = doctors.ElementAt(col - 1);
        }
        TimeSpan timeTemp = new TimeSpan(10, 00, 00);
        for (int row = 1; row < 20; row++)
        {
            matrix[row, 0] = $"{timeTemp.Hours}:{timeTemp.Minutes.ToString()}";
            timeTemp = timeTemp + new TimeSpan(00, 30, 00);
        }

        for (int row = 1; row < 20; row++)
        {
            for (int col = 1; col < doctors.Count() + 1; col++)
            {
                string doc = matrix[0, col];
                string time = matrix[row, 0];
                //da se drypne ot modela butona зa час
                //matrix[row, col] = Model.Where(ds => ds.DoctorName == doc).ToString();
            }
                
        }

        <table class="table table-striped">
            @{
                for (int row = 0; row < 20; row++)
                {
                    <tr>
                        @{
                            for (int col = 0; col < doctors.Count()+1; col++)
                            {
                                <td class="col" scope="col">@matrix[row, col]</td>
                            }
                        }
                    </tr>
                }
            }
        </table>
    }
}